/* Universal Styles */
html {
    font-size: 14px;
    font-family: Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}

.spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
}

.spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
}

.spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
}

body {
    background-color: #000000;
}

h1 {
    font-size: 16px;
    font-weight: 100px;
    color: #fff;
}

h2 {
    font-size: 32px;
    font-weight: 400px;
    color: #fff;
}

h3 {
    font-size: 40px;
    color: #fff;
    line-height: 1.3em;

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}

h4 {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    color: #ffffff;
    line-height: 1em;
    margin: 0.5em 0 0.5em 0;
}

p {
    /* intentionally left blank */
    color: #fff;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%; /* Adjusted width considering margins */
    background-color: rgba(0, 0, 0, 0.8); /* 블랙 배경에 % 불투명도 */
    font-size: 16px;
    padding: 1em 0; /* Adjusted padding */
    z-index: 1000; /* 헤더의 z-index를 설정하여 다른 요소보다 위에 표시되도록 합니다 */
    height: min-content;
}

.head-inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
  margin-right: -1em; /* 기존 값보다 작게 조정 */
}

/* Right-aligned ul */
.header ul {
    margin: 0; /* Reset margin */
    padding: 0 0;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: center;

    list-style-type: none;

    height: min-content;
}
/* Left-aligned h1 */
.header h1 {
    margin: 0 1em;
}

/* List items within header */
.header li {
    display: flex;
    padding: 0 1em; /* Adjusted padding */
    justify-content: center;
    flex-direction: column;
}

.header a {
    color: #fff;
    opacity: 100%;
}

.header a:hover {
    background-color: transparent;
    color: #e0e0e0;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .header {
        gap: 0;
        width: 100;
        height: min-content;
        display: flex;
    }

    .head-inner {
        justify-content: center;
        flex-wrap: wrap;
        height: min-content;
        display: flex;
        width: 100%;
    }

    .header li {
        padding: 5% 12px; /* Reduced padding for smaller screens */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

/* Truncate text with ellipsis */
.header li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    color: #fff;
}

.social-icon {
    height: 24;
}

.home {
    font-weight: 800;
}

/* Banner */

.top {
    height: fit-content;
    padding: 3em 0 0 0;
}

.banner {
    align-content: center;
    padding: 0 0;
}

.banner img {
    width: 100%;
    height: auto;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .banner img {
        padding: 5% 0 5% 0;
        align-content: center;
    }
}

/*Grid*/

.link {
    margin-bottom: 0.3em;
}

.introduction {
    background-color: #000;
    padding: 2em 10% 0.5em 10%;
    background-image: url("image/home/Product/pratt_ppt/pratt_light/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg");
    /* 배경 크기 설정 */
    background-size: 110%;
    /* 또는 contain 등으로 이미지 크기 조절 가능 */
    /* 배경이미지 위치 설정 */
    /*   background-position: center; /* 원하는 위치로 조절 가능 */
    animation: slide 20s linear infinite; /* 20초 간격으로 반복되는 slide 애니메이션 적용 */
}

#maintitle {
    padding: 10% 0 0 0;
}

/* Media Query for smaller screens */
@media screen and (max-width: 1200px) {
    .banner {
        padding: 5% 0 0 0;
        width: 110%;
    }

    .link {
        margin-bottom: 0.1em;
    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5% 0 5%;
    }

    #logo {
        width: 50%;
        padding: 5% 0;
        align-items: center;
    }

    .maintitle {
        padding: 5% 0 0 0;
    }

    .subtitle {
        font-size: 24px;
    }
    .subtitle2 {
        font-size: 20px;
    }
}

.process {
    background-color: #000;
    padding: 2em 10% 2em 10%;
    background-image: url("image/home/Product/pratt_ppt/pratt_light/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg");
    /* 배경 크기 설정 */
    background-size: 110%;
    /* 또는 contain 등으로 이미지 크기 조절 가능 */
    /* 배경이미지 위치 설정 */
    /*   background-position: center; /* 원하는 위치로 조절 가능 */
    animation: slide 20s linear infinite; /* 20초 간격으로 반복되는 slide 애니메이션 적용 */
}

.process2 {
    background-color: #000;
    padding: 2em 10% 2em 10%;
    background-image: url("image/home/Product/pratt_ppt/pratt_light/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg");
    /* 배경 크기 설정 */
    background-size: 110%;
    /* 또는 contain 등으로 이미지 크기 조절 가능 */
    /* 배경이미지 위치 설정 */
    /*   background-position: center; /* 원하는 위치로 조절 가능 */
    animation: slide 20s linear infinite; /* 20초 간격으로 반복되는 slide 애니메이션 적용 */
}

.point {
    color: #f2c94c;
}

/* Media Query for smaller screens */
@media screen and (max-width: 1200px) {
    .process {
        padding: 2em 5% 2em 5%;
    }
    .process2 {
        padding: 2em 5% 2em 5%;
    }
}

.boxcontent {
    padding: 2em 10% 2em 10%;
}

.title {
    margin: 1em 0 1em 0;
}

.subtitle {
    margin: 2em 0 2em 0;
    font-size: 20px;
}

.subtitle2 {
    font-size: 20px;
}

/*Grid Layout for Container*/

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5em; /* Gap between image boxes */
    grid-row-gap: 2em;
    margin-bottom: 4em;
    justify-content: center;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5em; /* Gap between image boxes */
    grid-row-gap: 2em;
    border-bottom: 1px solid #e0e0e0; /* 얇은 회색 가로선 */
    padding-bottom: 3em; /* 컨테이너 간격 추가 */
    margin-bottom: 3em; /* 컨테이너 간격 추가 */
}

/*Image Box Styles*/

.box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#box3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box img {
    width: 100%;
}

.image-container {
    text-align: center; /* 가운데 정렬 */
}

.inline-image {
    display: inline-block; /* 병렬 배치 */
    vertical-align: top; /* 상단 정렬 */
    margin: 0 10px; /* 좌우 여백 추가 */
    width: 40%; /* 너비 조정 */
}

.inline-image img {
    max-width: 100%;
    height: auto;
}

.text-container {
    text-align: center; /* 가운데 정렬 */
}

.text-container2 {
    text-align: left; /* 가운데 정렬 */
    margin: 2em 2.8em 0 2.8em;
}

.inline-text {
    display: inline-block; /* 병렬 배치 */
    vertical-align: top; /* 상단 정렬 */
    margin: 0 1em; /* 좌우 여백 추가 */
    width: 40%; /* 너비 조정 */
}

.inline-text h1 {
    text-align: center;
    margin-bottom: 2em;
}

/* Unordered List */

ul {
    list-style-type: none; /* 불렛 제거 */
    margin-left: 0; /* 왼쪽 여백 */
    padding-left: 0; /* 내부 패딩 */
}

ul li {
    display: flex; /* Flexbox 사용 */
    align-items: flex-start; /* 수직 상단 정렬 */
    margin-bottom: 10px; /* 리스트 항목 사이의 간격 */
    color: #fff;
}

/*
ul li:before {
   content: "-"; /* 불렛을 -로 표시 */ /*
    margin-right: 10px; /* -와 텍스트 사이의 간격 */ /*
    align-self: flex-start; /* 불렛을 항상 텍스트의 상단에 위치 */ /*
} */

#lieng:before {
    content: "-"; /* 불렛을 -로 표시 */
    margin-right: 10px; /* -와 텍스트 사이의 간격 */
    align-self: flex-start; /* 불렛을 항상 텍스트의 상단에 위치 */
}

#uleng {
    height: 100%;
    width: auto;
    margin-bottom: 2em;
}

#uleng2 {
    height: 100%;
    width: auto;
    margin-bottom: 2em;
}

#imagestyle {
    height: 400px;
    margin-bottom: 2em;
}

.tagtext {
    display: flex;
    justify-content: center;
    align-items: center; /* 내부 요소를 수직 중앙 정렬 */
}

.subtitle svg {
    width: 20px;
    height: 20px;
    margin: 0 0.6em; /* 아이콘과 텍스트 사이의 간격 */
    justify-content: center;
}

/*Grid Layout for Container*/

.container3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2em; /* Gap between image boxes */
    grid-row-gap: 4em;
    margin: 2em 0;
    align-content: stretch;
}

/*Image Box Styles*/
.workbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 280px;
    justify-content: space-between;
    border-radius: 8px; /* Optional: 둥근 모서리 */
    padding: 20px;
    box-sizing: border-box; /* padding 포함 */
    min-height: 400px; /* 최소 높이 설정 */
    height: auto;
}

.workbox .image {
    width: 100%;
    height: auto;
    overflow: hidden; /* Hide overflowing content */
}

.workbox img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: rounded corners for images */
    object-fit: cover; /* Maintain image aspect ratio and fill container */
}

.workbox .text {
    margin-top: 0;
}

.image img:hover {
    opacity: 0.7; /* 이미지가 70% 불투명하게 변합니다. */
    transition: opacity 0.3s ease; /* 투명도 변화에 애니메이션 효과를 추가합니다. */
}

/* slide css*/

.slider {
  position: relative;
  width: 100%;
  height: 100%;          /* 👈 슬라이더 높이 고정 */
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;           /* 👈 슬라이더 높이를 그대로 가져옴 */
  transition: transform 0.4s ease;
}

.slides img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;           /* 👈 항상  프레임 꽉 채움 */
  display: block;
  object-fit: cover;      /* 프레임 꽉 채우되, 조금 잘릴 수 있음 */
  border-radius: 0;
}/* slide css*/



/* 버튼 */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.prev {
    left: 15px;
}
.next {
    right: 15px;
}

/* footer */

.footer {
    position: relative;
    display: flex; /* Flex 컨테이너로 변경 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #000;
    padding: 0 10% 2em 10%;
    background-image: url("image/home/Product/pratt_ppt/pratt_light/aperture-vintage-Z6EpCdMcoUU-unsplash.jpg");
    /* 배경 크기 설정 */
    background-size: 110%;
    /* 또는 contain 등으로 이미지 크기 조절 가능 */
    /* 배경이미지 위치 설정 */
    /*   background-position: center; /* 원하는 위치로 조절 가능 */
    animation: slide 20s linear infinite; /* 20초 간격으로 반복되는 slide 애니메이션 적용 */
}
